.wrapper {
    width: 100%;
    height: 100vh;
    background-color: #b0b0b3;
    display: flex;
    flex-direction: column;
}
.inner {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    grid-gap: 10px;
    width: 50%;
    height: 90%;
    @include media() {
        grid-template-rows: repeat(3, 110px);
    }
    @include mobail() {
        grid-template-rows: repeat(3, 90px);
    }
    @include smoll() {
        grid-template-rows: repeat(3, 70px);
    }
}
.item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(50px);
    border: 1px solid black;
    border-radius: 10px;
    font-size: 100px;
    cursor: pointer;
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #0da7d5;
        border-radius: 10px;
    }
    @include media() {
        font-size: 100px;
    }
    @include mobail() {
        font-size: 70px;
    }
    @include smoll() {
        font-size: 50px;
    }
    &_active {
        &::after {
            background-color: transparent;
        }

        /*  &:hover {
            &::after {
                background-color: transparent;
            }
        } */
    }
}

.btn {
    @include b;
}
